.button {
  width: 300px;
  height: 65px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #00c78b;
  color: #ffffff;
}
.wrapper {
  position: relative;
}
.list {
  position: absolute;
  top: 68px;
  left: 0;
  width: 300px;
  padding: 20px 52px;
  font-size: 18px;
  background-color: #00c78b;
  color: #ffffff;
  border-radius: 30px;
}

.item {
  line-height: 36px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 10px;
}
.item:last-child {
  margin-bottom: 0;
}

.linkActive{
  color: #9a66ff
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .button {
    width: 220px;
    height: 45px;
    font-size: 14px;
  }
  .list{
    width: 220px;
    top: 48px;
    padding: 10px 20px;
    font-size: 14px;
  }
  .item{
    line-height: 30px;
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    gap: 20px;
  }
}
